/* University Library Header Style */

@media (min-width: 768px) {
    #header-logo {
        float: left;
        width: 305px;
        height: 107px;
        margin-top: 10px;
        background: url('http://www.library.vanderbilt.edu/assets/images/logo-vandy-library.png');
        background-repeat: no-repeat;
        background-color: transparent;
        margin-right: 15px;
    }

    .navbar-default {
        background-color: black;
    }

    .navbar {
        margin-bottom: 0px;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    };
}

#map { position:absolute; height:79%; width:100%;}

.popup {
    text-align: center;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
}